<IfModule mod_rewrite.c>
    RewriteEngine On

    # 1. Redirigir a la carpeta public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]

    # 2. Permitir que Laravel maneje las rutas (como /subir)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>